<% layout("/layout/boilerplate") %>

<div class="row mt-4">
  <div class="col-8 offset-2">
    <h4 style="color: rgb(223, 145, 0);">Listing Details:</h4>
  </div>

  <div class="card col-6 offset-2 mt-3">
    <img
      src="<%= listing.image %>"
      class="card-img-top show-img"
      alt="listing-image"
      style="max-height: 350px; object-fit: cover; width: 100%"
    />

    <div class="card-body">
      <p class="card-text">
        <b><%= listing.title %></b><br />
        <%= listing.description %><br />
        <b>&#8377; <%= listing.price.toLocaleString("en-IN") %></b><br />
        <%= listing.location %><br />
        <%= listing.country %>
      </p>
    </div>
  </div>

  <div class="col-6 offset-2 mt-2 mb-3">
    <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary me-2">
      Edit this Listing
    </a>

    <form
      method="POST"
      action="/listings/<%= listing._id %>?_method=DELETE"
      style="display: inline"
    >
      <button type="submit" class="btn btn-danger">Delete this Listing</button>
    </form>
  </div>
</div>
